name: Deploy Images to GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-images:
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@main

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: 'Build Java 22 Image'
        run: |
          docker build ./java22 --tag ghcr.io/thepenguinsgit/java_22:latest
          docker push ghcr.io/thepenguinsgit/java_22:latest
      - name: 'Build FTB Installer Image'
        run: |
          docker build ./FTB-Installer --tag ghcr.io/thepenguinsgit/ftb_installer:latest
          docker push ghcr.io/thepenguinsgit/ftb_installer:latest